<!DOCTYPE HTML>
<html lang="en">
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>@ViewData["Title"]</title>
		<link rel="stylesheet" href="~/css/site.css"/>
		<script src="~/js/site.js"></script>
		<link rel="shortcut icon" href="~/favicon.ico"/>
	</head>
	<body>
		<section>
			<ul class="menu">
				<li class="menu"><a class="menu" asp-controller="Home" asp-action="Index">Home</a></li>
				<li class="menu"><a class="menu" asp-controller="Home" asp-action="About">About</a></li>
				<li class="menu"><a class="menu" asp-controller="Home" asp-action="MissionStatement">Mission Statement</a></li>
			</ul>
		</section>
		@* 
			ASP.NET will replace the RenderBody call with content from the view that 
			uses this layout.
		*@
		@RenderBody()
		<footer>
			&copy;@DateTime.Today.Year
		</footer>
	</body>
</html>
