@{
	Layout = null;
}
<!DOCTYPE HTML>
<html>
	<head>
		<title>About Page</title>
	</head>
	<body>
		@* Tag helpersyntax - modern approach *@
		<a asp-controller="Home" asp-action="Index">Go Home</a>
		<h1>My about page</h1>
		<p>This is info about my website</p>

</body>
</html>